@page
@model JobPortal.Areas.Job.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<link href="~/lib/toastr/toastr.css" rel="stylesheet" />

<h1>Details</h1>

<br />
@if (Model.ShowMessage)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Model.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div id="detailsForm">

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.City)
        </dd>
        <dt class="col-sm-2">
            Post date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.PostDate)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a class="btn btn-success" asp-page="./Apply" id="bootbox" data-target="#loginModal" data-toggle="modal">Apply Now</a>
    <a asp-page="/Index" class="btn btn-secondary float-right">Back to List</a>
</div>

<div class="modal" id="loginModal" tabindex="-1" data-keyboard="false" data-animation="fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Cv" enctype="multipart/form-data">
                @Html.HiddenFor(m => m.Job.JobId)
                @Html.HiddenFor(m => m.Job.City)
                @Html.HiddenFor(m => m.Job.Title)
                @Html.HiddenFor(m => m.Job.Description)
                @Html.HiddenFor(m => m.Job.PostDate)
                
                @*@Html.HiddenFor(m=>m.UserJob.AppUser.Id)*@

                @*@Html.HiddenFor(m=>m.Job.AppUser)*@
                <div class="modal-header">
                    <div class="form-group">
                        <h4>Upload your CV</h4>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" asp-for="Cv" class="form-control custom-file-input" />
                            <label class="custom-file-label">Choose file...</label>
                            <span asp-validation-for="Cv"></span>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success btn-md" type="submit" id="submitForm" value="Apply" />
                    <button class="btn btn-danger btn-md" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>

    </div>
</div>

@section Scripts{
    <script src="~/lib/bootbox/bootbox.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });

            //$("submitForm").on("click", function () {
            //          toastr.success("Succes");
            //});

                    //$('#bootbox').on("click", function () {


                    //    var dialog = bootbox.dialog({
                    //        title: 'Apply here!',
                    //        message:`
                    //            <form method="post" asp-page-handler="Cv" enctype="multipart/form-data">
                    //                <div class= "form-group" >
                    //                    <div class="col-md-10">
                    //                        <input type="file"  multiple class="form-control custom-form-input"/>
                    //                        <label class="custom-form-label">Choose file....</label>
                    //                      </div>
                    //                  </div >
                    //                     <div class="form-group">
                    //                            <div class="col-md-10">
                    //                         <input type="submit" value="Upload" />
                    //                        </div>
                    //                 </div>
                    //    </form >`,
                    //    inputType: 'file',
                    //        size: 'medium',
                    //            buttons: {
                    //        cancel: {
                    //            label: "I'm a cancel button!",
                    //                className: 'btn-danger',
                    //                    callback: function () {
                    //                        console.log('Custom cancel clicked');
                    //                    }
                    //        },

                    //        ok: {
                    //            label: "I'm an OK button!",
                    //                className: 'btn-info',
                    //                    callback: function () {
                    //                        console.log('Custom OK clicked');
                    //                    }
                    //        }
                    //    }
                    //});
                    //    });
    </script>

    @*$('#submit').on("click", function (e) {
        e.preventDefault();
        $.ajax({

        url: 'https://localhost:44334/Job/Details',
        data: new FormData(document.forms[0]),
        contentType: false,
        processData: false,
        type: 'post',
        success: function () {
        alert("CV posted");
        }

        });
        });*@


}



@*<script>

    </script>*@