@page
@model JobPortal.Areas.Identity.Pages.Employer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Job </h2><h4 class="text-muted">Management</h4>

<p>
    <a asp-page="Create" class="btn btn-success float-right mt-3">Create job</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].PostDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Job) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.JobId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JobId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JobId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
